asgiref==3.3.1
attrs==19.3.0
autopep8==1.5.2
certifi==2020.4.5.1
chardet==3.0.4
Django==3.1.5
django-debug-toolbar==2.2
django-environ==0.4.5
django-filter==2.3.0
djangorestframework==3.11.0
djangorestframework-simplejwt==4.3.0
dj-database-url==0.5.0
environ==1.0
flake8==3.8.2
flake8-django==1.1.1
flake8-import-order==0.18.1
gunicorn==20.0.4
isort==4.3.21
Pillow==7.1.2
pluggy==0.13.1
psycopg2==2.8.6
psycopg2-binary==2.8.5
py==1.8.1
pycodestyle==2.6.0
PyJWT==1.7.1
pylint==2.4.4
python-dotenv==0.13.0
python-telegram-bot==12.8
pytz==2020.1
requests==2.23.0
six==1.15.0
sorl-thumbnail==12.6.3
sqlparse==0.3.1
twilio==6.43.0
urllib3==1.25.9
virtualenv==20.0.21
virtualenvwrapper==4.8.4
wcwidth==0.1.9
whitenoise==5.2.0
