{% extends "base.html" %}
{% block title %}Главная{% endblock %}
{% block content %}
{% load extras %}
<h1 class="main__title">Главная</h1>
{% if all_dump_trucks %}
{% for dump_truck in all_dump_trucks %}
<table border="1">
    <form method="POST" action="">
        <caption>Самосвал {{dump_truck.model}} {{dump_truck.number}}</caption>
        <tr>
            <th>Бортовой номер</th>
            <th>Модель</th>
            <th>Макс. грузоподъемность, т</th>
            <th>Текущий вес, т</th>
            <th>Перегруз, %</th>
            <th>Координаты разгрузки (x, y)</th>
        </tr>
        <tr>
            <td>{{dump_truck.number}}</td>
            <td>{{dump_truck.model}}</td>
            <td>{{dump_truck.carrying}}</td>
            {% for item in dump_truck.mineral_dumptruсk.all %}
            <td>{{item.weight}}</td>
            <td>{{ item.weight|dump_truck_overload:dump_truck.carrying }}</td>
            {% endfor %}
            <td>
                {% csrf_token %}
                <input type="hidden" name="dumptruck_id" value={{dump_truck.id}}>
                {{ form.as_p }}
            </td>
        </tr>
</table>
<input type="submit" value="Рассчитать">
</form>
{% endfor %}
{% else %}
<p>No dump_truck are available.</p>
{% endif %}
{% endblock %}